.BodyContainer {
    border: 1px solid red;
}
.showcase {
    border-radius: 6px;
    margin-bottom: 2rem;
    background-color: #bcb9b936;
}
.product-item {
    border: 1px solid;
}
.product-image {
    
}
.buttons {

}